

<div class="container text-center">
  <div class="card_form">
    <% @grandma.photo = image_path('thomas') %>
    <%= image_tag('thomas', crop: :fill, class: "avatar-booking") %>
    <div id= "color" >
<h1>Booking  with the amazing <%= @grandma.name %></h1>
 </div>
<p><%= @booking.display_date %></p>
 <button id="sweet-alert-demo" class="btn btn-primary">Confirm</button>
  </div>
</div>



