<div class="form_container text-left">
  <form action='/grandmas' method="get">
     <div class="form-group ">
      <h3> Choose your Grandma </h3>
        <label class="control-label " for="select">Category</label>
          <select class="select form-control" id="select" name="select">
            <option name='category' value="sepharade">Sepharadi</option>
            <option value="ashkenazi" name='category'>Askenaze (don't cook very well)</option>
          </select>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary " name="submit" type="submit">
        Submit
       </button>
      </div>
     </div>
    </form>
  </div>
