<div class="form_container text-left">
  <form action='/grandmas' method="get">
     <div class="form-group ">
      <h3> Discover jewish cooking  </h3>
      <h5> <strong color= "black">from those who make it the best!</strong>  </h5>
        <label class="control-label " for="select">Cuisine</label>
          <select class="select form-control" id="select" name="select">
            <option name='category' value="sepharade">Sepharadi</option>
            <option value="ashkenazi" name='category'>Askenaze (don't cook very well)</option>
          </select>
     </div>
     <div class="form-group">
      <div>
       <button class="btn  btn-danger center-block " name="Choose" type="submit">
        Choose
       </button>
      </div>
     </div>
    </form>
  </div>
