 <%= render 'shared/banner' %>

<<<<<<< HEAD
<div class="container">
  <div id="grandmas">
    <h2>Find your Grandma:</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
       <%= render 'grandmas/grandma' %>
    </div>
  </div>
</div>



=======


>>>>>>> d7aae08bf28fb8a550cd1b572aa00d2e4b3050e5
