 <%= render 'shared/banner' %>

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b5e0b6ef79fb4ab7de2e58f12f92edd8ed48de91
<div class="container">
  <div id="grandmas">
    <h2>Find your Grandma:</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
       <%= render 'grandmas/grandma' %>
    </div>
  </div>
</div>
=======
>>>>>>> 31756667621827a3e1f40b036323577575bc3090



<<<<<<< HEAD
=======


>>>>>>> d7aae08bf28fb8a550cd1b572aa00d2e4b3050e5
=======

>>>>>>> b5e0b6ef79fb4ab7de2e58f12f92edd8ed48de91
