.form_container{
  border: 1px solid lightgray;
  padding: 15px;
  border-radius: 3px;
  background-color:  rgba(250, 250, 250, 0.4);
  margin-right: 750px;
  margin-top: 50px;
}
<<<<<<< HEAD
<<<<<<< HEAD

h2 {

}

=======
h2 {
}
>>>>>>> e031a0c24a9687e0630ef68ef952495ea28fb632
=======

>>>>>>> d32adac5a5138502fcb57ea696f2fa4e28063309
h3 {
  color: white;
  font-size: 38px;
  font-family: "Open Sans", "Helvetica";
  margin-bottom: 23px;
}
.banner-content {
  color: white;
}
