<div class="container">
  <div class="col-xs-12 col-sm-6 col-md-offset-4 col-md-4">
    <div class="form-group">
        <%= simple_form_for ([@grandma,@review])do |f| %>
        <%= f.input :rating %>
        <%= f.input :review_comment %>
        <%= f.button :submit, class: "btn-danger" %>
        <% end %>
    </div>
  </div>
</div>
