<div class="container">
  <div class="col-xs-12 col-sm-6 col-md-offset-4 col-md-4">
    <div class="card card1">
       <div class="text-center">
          <h2>Add your review!</h2>
       </div>
        <%= simple_form_for ([@grandma,@review])do |f| %>
        <%= f.input :rating %>
        <%= f.input :review_comment,label: 'Comment' %>
        <%= f.button :submit, class: "btn-danger" %>
        <% end %>
    </div>
  </div>
</div>
